/** SECTION CLASS DEPARTMENT DETAIL */
.department-detail{
    margin:50px;
}
.department-detail .btn{
        margin-left:10px;
    }
    .department-detail h3{
        padding:10px;
        font-size:1em;
    }