/** SECTION CLASS MISSION-DETAIL */
.mission-detail{
    margin:50px;
    margin-left:100px;
    position:relative;
}
.mission-detail .btn{
        margin-left:10px;
    }
    .mission-detail h3{
        padding:10px;
        font-size:1em;
    }
   .mission-detail .form-group{
        width: 300px;
        height:auto;
    }
  