<section class="mission-detail" style="width:35rem;">
    <h1>Fiche détails mission</h1>

        <div class="card-header">
            <h3>Details de la mission {{ missionName }}</h3>
        </div>
        <!-- POLE DE LA MISSION -->
        <div class="card text-center">
            <h4>Pôle {{ missionIssuedBy.departmentName }}</h4>
        </div>
        <!-- DATES MISSION -->
        <p>Cette mission <em style="color:blue; font-size:1em; font-weight:bold;">commence</em>
        le {{ missionStartDate}} et <em style="color:blue; font-size:1em; font-weight:bold;">se termine </em>le {{missionEndDate}}</p>


        <div class="card-body"> 
            <!-- NAME MISSION-->
            <h2 class="card-title">{{ missionName }}</h2>   
        </div>



        <!-- DESCRIPTION MISSION-->
        <div class="form-group">
            <h5 class="card-title">Quelle est cette mission?</h5>
            <p class="form-control" id="">{{ missionDescription }}</p>
        </div>  

    <a routerLink="/mission-list" class="btn btn-primary">Revenir à la liste</a>
</section>
   
    