<section class="mission-detail" style="width:35rem;">
    <h1>Fiche détails mission</h1>

        <div class="card-header">
            <h3>Details de la mission {{ mission.missionName }}</h3>
                <!-- REFERENT MISSION -->
                <p>Le référent de la mission est<em style="color:blue; font-size:1.2em; font-weight:bold;"> :manager </em></p>
        </div>
        <!-- POLE DE LA MISSION -->
        <div class="card text-center">
            <h4>Pôle :pole</h4>
        </div>
        <!-- DATES MISSION -->
        <p>Cette mission <em style="color:blue; font-size:1em; font-weight:bold;">commence</em>
        le :date-debut et <em style="color:blue; font-size:1em; font-weight:bold;">se termine </em>le :date-fin</p>


        <div class="card-body"> 
            <!-- NAME MISSION ET TYPE-->
            <h2 class="card-title">:name</h2>
                <h3>:type</h3>
                
        </div>



        <!-- DESCRIPTION MISSION-->
        <div class="form-group">
            <h5 class="card-title">Quelle est cette mission?</h5>
            <p class="form-control" id="">:description</p>
        </div>  

    <a routerLink="/mission-list" class="btn btn-primary">Revenir à la liste</a>
</section>
   
    