<section class="department-list">
    <h1>Manager List</h1>
        
    <div *ngFor="let manager of managers"class="card text-right" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ manager.managerFirstName }}</h5>
            <p class="card-text">{{ manager.managerLastName }}</p>
            <a routerLink="/manager-detail"><button class="btn btn-primary">Détails</button></a>
            <a routerLink="/manager-list"><button class="btn btn-danger"(click)="delete()">Supprimer</button></a>
        </div>
    </div>

</section>
