<a class="dropdown-item" routerLink="/">Page Accueil</a>

<section class="department-list">
    <h1>Manager List</h1>
        
    <div class="card text-right" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Firsname : </h5>
            <p class="card-text">Lastname: </p>
            <p class="card-text">Department: </p>
            <a routerLink="/manager-detail"><button class="btn btn-primary">Détails</button></a>
            <a routerLink="/manager-list"><button class="btn btn-danger"(click)="delete()">Supprimer</button></a>
        </div>
    </div>

</section>






<!-- 
<div class="list row">
    <div class="col-md-6">
        <h4>managers List</h4>
        <ul class="list-group">
            <li
                    class="list-group-item"
                    *ngFor="let manager of managers; let i = index"
                    [class.active]="i == currentIndex"
                    (click)="setmanager.selected(manager, i)">

                {{ <manager class="managerfirsname"></manager> }}
                
            <button class="btn btn-sm btn-secondary mr-2" routerLink="/manager-detail">
                Edit
            </button>
             <h4>Details</h4>
            <button class="btn btn-sm btn-danger mr-2" >
                Delete
            </button> 
            </li>
        </ul>

      
    </div>
    <div class="col-md-6">
        <div>
            -->
            <!-- <div>
                <label><strong>Firsname:</strong></label> {{ manager.FirstName}} -->
            <!-- </div>
            <div> -->
                <!-- <label><strong>Lastname:</strong></label> {{ manager.LastName }} -->
                
            <!-- </div>
           
            <div> -->
                <!-- <label><strong>Department:</strong></label> {{ manager.Department }} -->
            <!-- </div>
            


        </div>
    
</div> -->