<a class="dropdown-item" routerLink="/">Page Accueil</a>

<h1>Liste des managergers</h1>


<div class="list row">
    <div class="col-md-6">
        <h4>managers List</h4>
        <ul class="list-group">
            <li
                    class="list-group-item"
                    *ngFor="let manager of managers; let i = index"
                    [class.active]="i == currentIndex"
                    (click)="setmanager.selected(manager, i)">

                {{ <manager class="managerfirsname"></manager> }}
                
            <button class="btn btn-sm btn-secondary mr-2" routerLink="/manager-detail">
                Edit
            </button>
             <h4>Details</h4>
            <button class="btn btn-sm btn-danger mr-2" >
                Delete
            </button> 
            </li>
        </ul>

      
    </div>
    <div class="col-md-6">
        <div>
           
            <!-- <div>
                <label><strong>Firsname:</strong></label> {{ manager.FirstName}} -->
            </div>
            <div>
                <!-- <label><strong>Lastname:</strong></label> {{ manager.LastName }} -->
                
            </div>
           
            <div>
                <!-- <label><strong>Department:</strong></label> {{ manager.Department }} -->
            </div>
            


        </div>
    
</div>