<header>
  <ul class="menu">
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="">Historique</a></li>
    <li class="create">
      <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Créer</a>
      <div class="dropdown-content" id="myDropdown">
        <ul class="sous-menu-create">
          <a href="#"><li>Link 1</li></a>
          <a href="#"><li>Link 2</li></a>
          <a href="#"><li>Link 3</li></a>
        </ul>
      </div>
    </li>
    <ion-list>
      <input type="search">
      <ion-item *ngFor="let item of items">
        <h1>{{item.storeName}}</h1>
      </ion-item>
    </ion-list>
    <li class="show">
      <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Afficher</a>
      <div class="dropdown-content" id="myDropdown">
        <ul class="sous-menu-show">
          <a href="#"><li>Link 1</li></a>
          <a href="#"><li>Link 2</li></a>
          <a href="#"><li>Link 3</li></a>
        </ul>
      </div>
    </li>
  </ul>

  
    
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
    
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var d = 0; d < dropdowns.length; d++) {
          var openDropdown = dropdowns[d];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    
