<a class="dropdown-item" routerLink="/">Page Accueil</a>


<section class="missions-list">
    <h1>Liste des missions</h1>
        
    <div class="card text-right" style="width: 18rem;"
     *ngFor="let mission of missions">
        <div class="card-body">
            <h5 class="card-title">{{ mission.missionName }} </h5>
            <p class="card-text">Nom de la mission</p>
            <a routerLink="/missionList" onclick="recupId"><button class="btn btn-primary">Détails</button></a>
            <a routerLink="/"><button class="btn btn-danger" (click)="delete()">Supprimer</button></a>
        </div>
    </div>
</section>