<a class="dropdown-item" routerLink="/">Page Accueil</a>


<section class="missions-list">
    <h1>Liste des missions</h1>
        
    <div class="card text-right" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">ID de la mission : </h5>
            <p class="card-text">Nom de la mission</p>
            <a routerLink="mission-detail"><button class="btn btn-primary">Détails</button></a>
            <a routerLink="/"><button class="btn btn-danger">Supprimer</button></a>
        </div>
    </div>

</section>