<footer>
    <ul class="pics">
        <li class="round-img left" id="caro"><img src="./assets/img/caroline.jfif" alt="caroline"></li>
        <li class="round-img left" id="cecile"><img src="./assets/img/cecile.jfif" alt="caroline"></li>
        <li class="round-img right" id="alex"><img src="./assets/img/alexandra.jfif" alt="caroline"></li>
        <li class="round-img right" id="ju"><img src="./assets/img/justine.jfif" alt="caroline"></li>
    </ul>    
    <p>POEI JAVA Capgemini Projet 2021 - Cécile, Caroline, Alexandra et Justine </p>
</footer>
