<footer>
    <ul class="pics">
        <a href="https://www.linkedin.com/in/caroline-peter-037254116/" target="_blanck"><li class="round-img left" id="caro"><img src="./assets/img/caroline.jfif" alt="caroline"></li></a>
        <a href="https://www.linkedin.com/in/cecile-simon-469226137/" target="_blanck"><li class="round-img left" id="cecile"><img src="./assets/img/cecile.jfif" alt="caroline"></li></a>
        <a href="https://www.linkedin.com/in/hall-alexandra/" target="_blanck"><li class="round-img right" id="alex"><img src="./assets/img/alexandra.jfif" alt="caroline"></li></a>
        <a href="https://www.linkedin.com/in/justine-lemaire-64b35a163/" target="_blanck"><li class="round-img right" id="ju"><img src="./assets/img/justine.jfif" alt="justine"></li></a>
    </ul>    
    <p>POEI JAVA Capgemini Projet 2021 - Cécile, Caroline, Alexandra et Justine </p>
</footer>
