*{
    list-style-type: none;
}
footer{
    list-style: none;
    background-color: rgb(241, 237, 237);
    color:black;
    padding-bottom: 10px;
    padding-top:10px;
    text-align:center;
}

    /** li id **/
    li.round-img{
        display: inline;
        padding-left:10px;
    }
    li.round-img img{
        height:50px;
        width:50px;
        border-radius:100%;
    }

@media only screen and (min-width : 1224px){
    /* Styles pour cette Media Queries - PC */
    li.round-img img{
        height:100px;
        width:100px;
        border-radius:100%;
    }
 }

 @media screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles pour cette Media Queries - TAB */
     /* Styles pour cette Media Queries - PC */
     li.round-img img{
        height:80px;
        width:80px;
        border-radius:100%;
    }
}

