/** section class department-form */
.department-form{
    margin:50px;
}
    .department-form .btn{
        margin-left:10px;
    }
    .department-form h3{
        padding:10px;
        font-size:1em;
    }
        .department-form .input-group{
            padding-bottom:10px;
        }
        .department-form .list-missions{
            margin-left:20rem;
        }