<a class="dropdown-item" routerLink="/">Page Accueil</a>

<section class="department-list">
    <h1>Liste des pôles</h1>
        
    <div class="card text-right" style="width: 18rem;"  *ngFor="let department of departments">
        <div class="card-body">
            <h5 class="card-title">Nom du pôle : {{ department.departmentName}}  </h5>
         <button class="btn btn-primary" (click)="recupObject(department)">Détails</button>
         <button class="btn btn-danger" (click)="delete(department)">Supprimer</button>
        </div>
    </div>
</section>y