<a class="dropdown-item" routerLink="/">Page Accueil</a>

<section class="department-list">
    <h1>Liste des pôles</h1>
        
    <div class="card text-right" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">ID du pôle : </h5>
            <p class="card-text">Nom du pôle: </p>
            <a routerLink="department-detail"><button class="btn btn-primary">Détails</button></a>
            <a routerLink="/"><button class="btn btn-danger">Supprimer</button></a>
        </div>
    </div>

</section>