<a class="dropdown-item" routerLink="/">Page Accueil</a>

<section class="manager-form">
<h1>Créer un manager</h1>

<div class="card" style="width: 50rem; padding:20px;">

  <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Prénom</label>
          <input type="text" class="form-control" id="inputFirstname" placeholder="Prénom">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Nom</label>
          <input type="text" class="form-control" id="inputLastname" placeholder="Nom">
        </div>
      
      </div>
      <div class="form-group">
        <label for="inputAddress">Mail</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    
      <div class="form-group col-md-6">
        <label for="inputPassword4">Statut</label>
        <input type="text" class="form-control" id="inputLastname" placeholder="Statut">
      </div>
    
    
      <div class="form-group col-md-4">
        <label for="inputState">Pôle</label>
        <select id="inputState" class="form-control">
          <option selected></option>
          <option value="">--Please choose an option--</option>
          <option value="dog">departmentId/name</option>
          <option value="cat">departmentId/name</option>
          <option value="hamster">departmentId/name</option>
          <option value="parrot">departmentId/name</option>
          <option value="spider">departmentId/name</option>
          
        </select>
      </div>
    
      <div class="form-group col-md-4">
        <label for="inputState">Employés</label>
        <select id="inputState" class="form-control">
          <option selected></option>
          <option value="">--Please choose an option--</option>
          <option value="dog">employeeId/name</option>
          <option value="cat">employeeId/name</option>
          <option value="hamster">employeeId/name</option>
          <option value="parrot">employeeId/name</option>
          <option value="spider">employeeId/name</option>
          
        </select>
      </div>
    
      <div class="form-group col-md-4">
        <label for="inputState">Mission</label>
        <select id="inputState" class="form-control">
          <option selected></option>
          <option value="">--Please choose an option--</option>
          <option value="dog">missionId/name</option>
          <option value="cat">missionId/name</option>
          <option value="hamster">missionId/name</option>
          <option value="parrot">managerId/name</option>
          <option value="spider">managerId/name</option>
          </select>
      </div>

      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>
</section>