/** section class .manager-form */
.manager-form{
    margin:50px;
}
    .manager-form .btn{
        margin-left:10px;
    }
    .manager-form h3{
        padding:10px;
        font-size:1em;
    }
        .manager-form .input-group{
            padding-bottom:10px;
        }
