<p>employee-detail works!</p>
<div class="card text-center">
    <div class="card-header">
      Details Employee
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ employeeFirstName }}  {{ employeeLastName }} </h5>
      <p class="card-text">{{ employeeMail }}</p>
      <p class="card-text">{{ employeePosition }}</p>
      <p class="card-text">{{ employeeMission}}</p>
      <p class="card-text">{{ employeeDepartment }}</p>
      <p class="card-text">{{ employeeManagerBy }}</p>
      <a href="employee-list" class="btn btn-dark">Go Back List</a>
    </div>
    
  </div>