<section class="employee-form" style="width: 50rem; padding:20px;">

  <h1>Créer un employé</h1>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4" style="font-weight: bold;">Nom <em style="color:red;">*</em></label>


        <input type="text" class="form-control" id="employeeFirstname" required[(ngModel)]="employee.employeeFirstname" placeholder="Nom">
        


        <!-- suite a modif  -->
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" style="font-weight: bold;">Prénom <em style="color:red;">*</em></label>
        <input type="text" nz-input formControlName="employeeLastName" placeholder="Prénom">
      </div>
    
    </div>
    <div class="form-group">
      <label for="inputAddress" style="font-weight: bold;">Email <em style="color:red;">*</em></label>
      <input type="email" nz-input formControlName="employeeMail" placeholder="Email">
    </div>

    <div class="form-group col-md-4">
      <label for="inputPassword4" style="font-weight: bold;">Statut <em style="color:red;">*</em></label>
      <input type="text" nz-input formControlName="employeePosition" placeholder="Statut">
    </div>


    <div class="form-group col-md-4">
      <label for="inputState" style="font-weight: bold;">Departement <em style="color:red;">*</em></label>
      <p><i>dans lequel travaille l'employé</i></p>
      <select id="inputState" nz-input formControlName="employeeDepartment">
        <option selected></option>
        <option value="">--Sélectionner--</option>
        <option value="dog">{{ <div departments=""></div> }}</option>
        
        
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputState" style="font-weight: bold;">Manager <em style="color:red;">*</em></label>
      <p><i>L'employé est sous la direction de ce référent</i></p>
      <select id="inputState" nz-input formControlName="employeeManagerBy">
        <option selected></option>
        <option value="">--Sélectionner--</option>
        <option value="dog">{{ <div managers=""></div> }}</option>
        
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputState" style="font-weight: bold;">Mission</label>
      <p><i>La mission confiée à l'employé</i></p>
      <select id="inputState" class="form-control">
        <option selected></option>
        <option value="">--Sélectionne--</option>
        <option value="dog">{{ <div missions=""></div> }}</option>
       
        </select>
        
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Mission attribuée
        </label>
      </div>
  </div>
  <em style="color:red;">* <i>Mention obligatoire</i></em>
  <button (click)="saveEmployee()"  class="btn btn-dark">Enregistrer</button>
    </div>
    <div *ngif="submitted">
      <h4>Créée avec succès!</h4>
      <button class="btn btn-success" (click)="newEmployee()">créer de nouveau</button>
    </div>

  </form>
</section>
