/** section employee-form */
.employee-form{
    margin:50px;
}
    .employee-form .btn{
        margin-left:10px;
    }
    .employee-form h3{
        padding:10px;
        font-size:1em;
    }
        .department-form .input-group{
            padding-bottom:10px;
        }
