<section class="department-list">
    <h1>Employees List</h1>
        
    <div class="card text-right" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> {{ employeeFirstName }}</h5>
            <p class="card-text">{{ employeeLastName }}</p>
            <a routerLink="/employee-detail"><button class="btn btn-primary">Détails</button></a>
            <a routerLink="/employee-list"><button class="btn btn-danger" (click)="delete()">Supprimer</button></a>
        </div>
    </div>

</section>

