<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Bienvenue</h1>
    <p class="lead">Espace de gestion de votre entreprise.</p>
    <hr class="my-4">
  </div>
</div>

<footer >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <div class="container">
      <div class="navbar-header">
      
          <span class="navbar-brand">
            <p>POEI JAVA Capgemini Projet 2021 - Cécile, Caroline, Alexandra et Justine </p>
          </span>
          
      </div>
      <p class="navbar-text navbar-right">company &copy; 2021</p>
  </div>
</footer>
